@media screen and (min-width : 769px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    text-decoration: none;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
}

.title > h1 { 
    text-align: left;
    position:fixed;
    left: 18%;
    top: 4.5%;
    bottom: 5%;
    right: 5%;
    color: #1B396A;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 20px;
}

/*HEADER SUPERIOR*/


.header__superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo img{
    width: 55px;
}


/*BARRA MENU*/

.container__menu{
    width: auto;
    height: 60px;
    background: #1B396A;
    padding: 0px 10px;
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display: flex;
    z-index: 3;
}

nav ul li{
    height: 100%;
    list-style: none;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

nav > ul > li:first-child > a{
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}

nav > ul > li:first-child:hover > a{
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
    text-decoration: none;
    text-align: center;
}

nav > ul > li > a:hover{
  text-decoration: none;
    font-weight: 800;
    transform: scale(1.1);
    color: #fff;
    background: #0074C7;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#selected{
    transform: scale(1.1);
    background-color: #0074C7;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}


/*SUBMENU*/

nav ul li ul{
    width: 230px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    transition: all 300ms ease;

}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
    z-index: 3;
}

nav ul li ul li a{
    display: block;
    color: #0099E9;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
    text-decoration: none;
    z-index: 3;
}
nav ul li ul li a:hover{
    font-weight: 800;
    background: #0074C7;
    color: #fff;
    transform: scale(1.2);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    text-decoration: none;
}



/*Profile-Dropdown*/

.dropdowns {
    position: fixed;
    display: block;
    left: 80%;
    top: 4%;
    margin-left: 5rem;
  }
  
  .dropdowns a {
    position:relative;
    border: none;
    border-radius: 5px;
    padding: 5px 3px;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: bolder;
    color: #1B396A;
    text-decoration: none;
  }
  
  .dropdowns a:hover {
    color: #916F09;
  }
  
  .dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.4);
    
  }
  
  .dropdowns:hover .dropdown-options {
    display: block;
  }
  
  .dropdown-options a {
    display:inline-block;
    color: #000000;
    text-decoration: none;
    padding: 10px 40px;
  }

  .dropdown-options a i {
    display: block;
    color: #000000;
    position: absolute;
    right: 10%;
  }
  
  .dropdown-options a:hover {
    color: #0a0a23;
    background-color: #ddd;
    border-radius: 5px;
  }
  
  .dropdowns #bars{
    display: none;
  }

  .dropdowns .fa-sort-down {
    margin-left: 8px;
  
  }

  .navegacion {
    position: absolute;
    top: 23%;
    left: 8%;
    color:#916F09;
    font-family: 'Raleway';
    font-weight: 800;
    text-transform: uppercase;
    z-index: -2;
    font-size: 17px;
  }

  hr{
    position: absolute;
    width: 22%;
    top: 25%;
    left: 8%;
    color: #000000;
    z-index: -3;
  }


  /* Formulario para ver los datos generales*/

  form {
    position: absolute;
    width: 30%;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat';
  }

  form>.nombre> label {
    font-family: 'Montserrat';
    position: fixed;
    top: 46%;
    left: 23%;
    color:#1B396A;
    font-weight: 800;
  }

  form > .nombre > input {
    position: fixed;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    width: 35%;
    top: 50%;
    height: 3rem;
    left: 9%;
  }

  form>.correoinstitucional> label {
    font-family: 'Montserrat';
    position: fixed;
    font-weight: 800;
    top: 46%;
    left:69%;
    color:#1B396A;
    font-weight: 800;
  }

  form > .correoinstitucional > input {
    position: fixed;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    width: 20%;
    top: 50%;
    height: 3rem;
    left: 66%;
  }

  form>.numcontrol> label {
    font-family: 'Montserrat';
    position: fixed;
    top: 46%;
    left: 51%;
    color:#1B396A;
    font-weight: 800;
  }

  form > .numcontrol > input {
    position: fixed;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    width: 16%;
    height: 3rem;
    left: 47%;
    top: 50%;
  }

  form>.lic> label {
    font-family: 'Montserrat';
    position: fixed;
    top: 59%;
    left:25%;
    color:#1B396A;
    font-weight: 800;
  }

  form > .lic > input {
    position: fixed;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    width: 35%;
    height: 3rem;
    left: 10%;
    top: 63%;
  }

  form>.semestre> label {
    font-family: 'Montserrat';
    position: fixed;
    top: 59%;
    left: 56%;
    color:#1B396A;
    font-weight: 800;
  }

  form > .semestre > input {
    position: fixed;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    width: 18%;
    height: 3rem;
    left: 50%;
    top: 63%;
  }
  form>.telefono> label {
    font-family: 'Montserrat';
    position: fixed;
    top: 59%;
    left: 74%;
    color:#1B396A;
    font-weight: 800;
  }

  form > .telefono > input {
    position: fixed;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    width: 17%;
    height: 3rem;
    left: 69%;
    top: 63%;
  }
}
  /*Header Responsive*/

  @media screen and (max-width : 768px){
    header{
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: #fff;
  }

  .title > h1 { 
    text-align: left;
    position: fixed;
    left: 18%;
    top: 4.5%;
    bottom: 5%;
    right: 5%;
    color: #1B396A;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 20px;
}

/*HEADER SUPERIOR*/

.header__superior{
  max-width: 768px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo img{
  width: 50px;
}

.dropdowns #salir {
  display: none;
}

.dropdowns #bars{
  color:#1B396A;
  font-size: 23px;
  cursor: pointer;
}
/*BARRA MENU*/

.container__menu{
  width: 300px;
  height: 800px;
  position:absolute; /* Stay in place */
  z-index:1; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
  background-color: #1B396A; /* Blue*/
  padding: 0px 10px;
  transition: 0.5ms;
  visibility: hidden;
}

.menu{
  max-width: 768px;
  margin: auto;
  height: 45px;
}

nav{
  height: 100%; /* 100% Full-height */
}

nav > ul{
  height: 100%;
  display: contents;
}

nav ul li{
  height: 100%;
  list-style:none;
  position: relative;
  text-decoration: none;
  z-index: 1;
}

nav > ul > li:first-child > a{
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 15px 90px;
}

nav > ul > li:first-child:hover > a{
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}

nav > ul > li > a{
  display: inline-flex;
  align-items: center;
  padding: 18px 32px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s;
  text-decoration: none;
  text-align: center;
}

nav > ul > li > a:hover .offcanvas a.focus{
text-decoration: none;
  font-weight: 800;
  transform: scale(1.1);
  color: #fff;
  background: #0074C7;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#selected{
  transform: scale(1.1);
  background-color: #0074C7;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/*SUBMENU*/

nav ul li ul{
  width: 230px;
  display: flex;
  flex-direction: column;
  background: #fff;
  position: absolute;
  top: 90px;
  left: -5px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  transition: all 300ms ease;

}

nav ul li:hover ul{
  visibility: visible;
  opacity: 1;
  top: 70px;
}

nav ul li ul:before{
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  position: absolute;
  top: -12px;
  left: 20px;
  z-index: 3;
}

nav ul li ul li a{
  display: block;
  color: #0099E9;
  padding: 6px;
  padding-left: 14px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 300ms ease;
  text-decoration: none;
  z-index: 3;
}
nav ul li ul li a:hover{
  font-weight: 800;
  background: #0074C7;
  color: #fff;
  transform: scale(1.2);
  padding-left: 30px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  text-decoration: none;
}

  }