nav {
    background-color: #00325F;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 85.76%;
  }

  h1 {
    text-align: center;
    color: white;
    font-family: 'Raleway';
  }


  #tcnm>img {
    float: left;
    width: 55px;
    height: 47px;
    position: absolute;
    left: 11%;
    top: 23%;
  }

  #TECNM>img {
    float: left;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 5%;
    top: 20%;
  }

  .loginbtn {
    position:absolute; 
    left: 92%; 
    top: 35%;
    color: #F9F9F9;
    font-family: 'Raleway';
    font-weight: bolder;
    cursor: pointer;
    font-size: 20px;
  }

  .loginbtn:hover{
    color: #AD9706;
  }

  .Titulo{
    background-color:#00325F;
    position: absolute;
    width: 500px;
    height: 73px;
    left: 32%;
    top: 24%;
    /*box-shadow: 0 15px 25px rgba(0,0,0,10);*/
    border-radius: 18px;

  }

  .Titulo>label{
    position: absolute;
    color: #F9F9F9;
    font-family: 'Raleway';
    font-size: 20px;
    left: 17%;
    top: 30%;
    font-weight: bolder;
  }

  .fa-globe {
    position: absolute;
    color: #F9F9F9;
    font-size: 29px;
    top: 30%;
    left: 88%;
  }